force-app/main/default/flows/Data_Cloud_Warranty_Coverage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Milestone_Date</name>
        <label>Assign Milestone Date</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetMilestoneDateConversion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Milestone.ssot__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Warranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_and_End_Date</name>
        <label>Assign Start and End Date</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>WarrantyStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateConversion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WarrantyEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnddateConversion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Oil_Perk_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_No_Oil_Perks</name>
        <label>Return No Oil Perks</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ReturnOilPerksDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiredWarrantyOilPerks</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Oil_Perks_Details</name>
        <label>Return Oil Perks Details</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ReturnOilPerksDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OilPerksAvaialed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Without_Oil_Perks</name>
        <label>Return Without Oil Perks</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ReturnOilPerksDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FreeOilPerksService</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Oil_Perk_Details</name>
        <label>Check Oil Perk Details</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Oil_Perks_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Warranty.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Milestone.ssot__Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Milestone.ssot__MilestoneType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Milestone.ssot__MilestoneType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Milestone.ssot__AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Milestone.ssot__AssetId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Asset_Warranty.AssetId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MilestoneDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MilestoneDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Warranty.Perks_Available_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Warranty.Perks_Available_c__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Oil Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Oil_Perks_Details</targetReference>
            </connector>
            <label>Is Oil Perks Found?</label>
        </rules>
        <rules>
            <name>Is_Oil_Perks_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Warranty.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Milestone.ssot__Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Warranty.Perks_Available_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Warranty.Perks_Available_c__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Oil Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Without_Oil_Perks</targetReference>
            </connector>
            <label>Is Oil Perks Not Found?</label>
        </rules>
        <rules>
            <name>Oil_Perks_Warranty_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Warranty.Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_No_Oil_Perks</targetReference>
            </connector>
            <label>Oil Perks Warranty Expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssetMilestoneDateConversion</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Asset_Milestone.ssot__MilestoneDate__c})</expression>
    </formulas>
    <formulas>
        <name>EnddateConversion</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Asset_Warranty.EndDate__c})</expression>
    </formulas>
    <formulas>
        <name>StartDateConversion</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Asset_Warranty.StartDate__c})</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Data Cloud Warranty Coverage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud Warranty Coverage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__PrimaryContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__PrimaryContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Contact_Participant.ContactId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Contact_Participant.VehicleId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Asset__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Contact_Participant</name>
        <label>Get Asset Contact Participant</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 4 AND 5 AND 6 AND (2 OR 7)</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Milestone</name>
        <label>Get Asset Milestone</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Milestone_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__AssetId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.ssot__Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Oil Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__AssetMilestone__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Warranty</name>
        <label>Get Asset Warranty</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Start_and_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetWarranty_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Contact_Participant.ContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Contact_Participant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ExpiredWarrantyOilPerks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We have noticed that {!Get_Contact.Name}&apos;s warranty has expired based on the start and end dates, so unfortunately, no free perks are available at this time.</text>
    </textTemplates>
    <textTemplates>
        <name>FreeOilPerksService</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Contact.Name} is eligible for free oil change and free tire rotation every 12 months. {!Get_Contact.Name} can definitely avail of this service at their convenience.</text>
    </textTemplates>
    <textTemplates>
        <name>OilPerksAvaialed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Contact.Name} is eligible for a free oil change and tire rotation every 12 months. The most recent oil change for {!Get_Contact.Name} was on {!MilestoneDate}. However, he is still eligible for free tire rotations.</text>
    </textTemplates>
    <variables>
        <name>AssetMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnOilPerksDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WarrantyEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarrantyStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
