force-app/main/default/flows/Data_Cloud_RoadSideAssistance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setMessage</name>
        <label>setMessage</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RSAMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Data Cloud - RoadSideAssistance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - RoadSideAssistance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Contact_Participants</name>
        <label>Get Asset Contact Participants</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Telemetric_Data</name>
        <label>Get Telemetric Data</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VIN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle.ssot__VehicleIdentificationNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Telemetric__dlm</object>
        <sortField>timestamp__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Telemetric_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Contact_Participants.VehicleId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Vehicle__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Contact_Participants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Emergency Services are on Their way to your Location at {!Get_Telemetric_Data.latitude__c}, {!Get_Telemetric_Data.longitude__c}</text>
    </textTemplates>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSAMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
