force-app/main/default/flows/Data_Cloud_Warranty_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getWarrantyContract</name>
        <label>getWarrantyContract</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>clsWarrantyDocumentController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Asset_Warranty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Details_Fetched</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>VIN</name>
            <value>
                <elementReference>Get_Vehicle.ssot__VehicleIdentificationNumber__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clsWarrantyDocumentController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Warranty_Expiration</name>
        <label>Assign Warranty Expiration</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ReturnWarrantyDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetActiveWarranty</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_Details_Fetched</name>
        <label>No Details Fetched</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ReturnWarrantyDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnNoVINDetails</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_VIN_Present</name>
        <label>No VIN Present</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ReturnWarrantyDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnNoVINDetails</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Is_In_Warranty</name>
        <label>Return Is In Warranty</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ReturnWarrantyDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetActiveWarranty</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Verify_Asset_Warranty</name>
        <label>Verify Asset Warranty</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_VIN_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_asset_Warranty_in_Coverage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarrantyStartDateConversion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDateConversion</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDateFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDateFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Is_In_Warranty</targetReference>
            </connector>
            <label>Is asset Warranty in Coverage?</label>
        </rules>
        <rules>
            <name>Is_asset_warranty_expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarrantyStartDateConversion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyStartDateConversion</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDateFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyEndDateFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Warranty_Expiration</targetReference>
            </connector>
            <label>Is asset warranty expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EnddateformatingFormula</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH({!WarrantyEndDateFormula}),
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  12, &quot;December&quot;,
  &quot;Invalid Month&quot;
) &amp; &quot; &quot; &amp; TEXT(DAY({!WarrantyEndDateFormula})) &amp; &quot;, &quot; &amp; TEXT(YEAR({!WarrantyEndDateFormula}))</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>WarrantyEndDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWarrantyContract.EndDate})</expression>
    </formulas>
    <formulas>
        <name>WarrantyStartDateConversion</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWarrantyContract.startDate})</expression>
    </formulas>
    <interviewLabel>Data Cloud Warranty Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud Warranty Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Participant</name>
        <label>Get Asset Participant</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND 4 AND 5 AND 6 AND (1 OR 7)</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Participant.ContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWarrantyContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Participant.VehicleId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Vehicle__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Participant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReturnNoVINDetails</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>At this time, Amazon S3 does not contain any Warranty Contract Document for the specified VIN {!Get_Vehicle.ssot__VehicleIdentificationNumber__c} which prevents the retrieval of Warranty Contract Details.</text>
    </textTemplates>
    <textTemplates>
        <name>SetActiveWarranty</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Yes, {!Get_Contact.Name}&apos;s {!Get_Vehicle.ssot__Name__c} vehicle is covered under warranty until {!EnddateformatingFormula}.</text>
    </textTemplates>
    <textTemplates>
        <name>SetInactiveWarranty</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, Arial, Verdana, sans-serif; color: rgb(51, 51, 51);&quot;&gt;{!Get_Contact.Name}&apos;s {!Get_Vehicle.ssot__Name__c} vehicle warranty has expired on {!EnddateformatingFormula}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnWarrantyDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
