force-app/main/default/flows/Data_Cloud_Invoke_Appointment_Flyout_Guest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_AppointmentForm</name>
        <label>Invoke AppointmentForm</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>DisplayLeadForm</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>carName</name>
            <value>
                <elementReference>IntrestedIn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cookieId</name>
            <value>
                <elementReference>DGRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DisplayLeadForm</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetMessage</name>
        <label>SetMessage</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>defaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Data Cloud- Invoke Appointment Flyout(Guest) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud- Invoke Appointment Flyout(Guest)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoke_AppointmentForm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank You! Please Book an Fill in Your details&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>defaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DGRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntrestedIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
