force-app/main/default/flows/DataCloud_SimulationResult.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetSimulationResults</name>
        <label>GetSimulationResults</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <actionName>GetSimulatorResult</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getAssetContactParticipant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSimulatorResult</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>carAlreadyLocked</name>
        <label>carAlreadyLocked</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Outputmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoorsLocked</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>carStartMode</name>
        <label>carStartMode</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Outputmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartMode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CarStopMode</name>
        <label>CarStopMode</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Outputmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StopCarMode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DoorsAlreadyUnlocked1</name>
        <label>DoorsAlreadyUnlocked</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Outputmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoorsUnlockedMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Locked_Message</name>
        <label>Locked Message</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Outputmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoorsLockedMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetMessage</name>
        <label>SetMessage</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Outputmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkAction</name>
        <label>checkAction</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default OutCome</defaultConnectorLabel>
        <rules>
            <name>Unclock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unlock Doors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIfAlreadyUnlocked</targetReference>
            </connector>
            <label>Unclock</label>
        </rules>
        <rules>
            <name>Lock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lock Doors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIfAlreadyLocked</targetReference>
            </connector>
            <label>Lock</label>
        </rules>
        <rules>
            <name>Remote_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start the car</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>carStartMode</targetReference>
            </connector>
            <label>Remote Start</label>
        </rules>
        <rules>
            <name>Stop_Car</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stop the car</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CarStopMode</targetReference>
            </connector>
            <label>Stop Car</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfAlreadyLocked</name>
        <label>checkIfAlreadyLocked</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Door_Lock_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lock</defaultConnectorLabel>
        <rules>
            <name>AlreadyLocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVehicleRecord.RearDriver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord.RearPassenger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord.FrontDriver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord.FrontPassenger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>carAlreadyLocked</targetReference>
            </connector>
            <label>AlreadyLocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfAlreadyUnlocked</name>
        <label>checkIfAlreadyUnlocked</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_vehicle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unlock</defaultConnectorLabel>
        <rules>
            <name>AlreadyUnlocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVehicleRecord.RearDriver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord.RearPassenger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord.FrontPassenger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord.FrontDriver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVehicleRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoorsAlreadyUnlocked1</targetReference>
            </connector>
            <label>AlreadyUnlocked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DataCloud-Simulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DataCloud-SimulationResult</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAssetContactParticipant</name>
        <label>getAssetContactParticipant</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVehicleRecord</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND 4 AND 5 AND (1 OR 6)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVehicleRecord</name>
        <label>GetVehicleRecord</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAssetContactParticipant.VehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Door_Lock_Update</name>
        <label>Door Lock Update</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Locked_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVehicleRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FrontDriver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FrontPassenger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RearDriver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RearPassenger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Vehicle</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_vehicle</name>
        <label>Update vehicle</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SetMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVehicleRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FrontDriver__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FrontPassenger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RearDriver__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RearPassenger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Vehicle</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSimulationResults</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DoorsLocked</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The doors are already locked.</text>
    </textTemplates>
    <textTemplates>
        <name>DoorsLockedMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The doors are now locked.</text>
    </textTemplates>
    <textTemplates>
        <name>DoorsUnlockedMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The doors are already unlocked.</text>
    </textTemplates>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The doors are now unlocked.</text>
    </textTemplates>
    <textTemplates>
        <name>StartMode</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Car has been started successfully.</text>
    </textTemplates>
    <textTemplates>
        <name>StopCarMode</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Car has been Stopped Successfully.</text>
    </textTemplates>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Outputmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
