force-app/main/default/flows/Data_Cloud_Likelihood_of_purchase_on_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
   <!-- <actionCalls>
        <name>Predict_Likelihood</name>
        <label>Predict Likelihood</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>Predicted_Likelihood_of_Purchase_CM_12l_W0eee3e1781</actionName>
        <actionType>cdpMlPrediction</actionType>
        <connector>
            <targetReference>Check_for_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>param_ssot__TotalAmount__c</name>
            <value>
                <elementReference>$Record.ssot__TotalAmount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param_Recency_of_Interactions__c</name>
            <value>
                <elementReference>$Record.Recency_of_Interactions__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param_ssot__CloseDate__c</name>
            <value>
                <elementReference>$Record.ssot__CloseDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param_Number_of_Past_Interactions__c</name>
            <value>
                <elementReference>$Record.Number_of_Past_Interactions__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param_Test_Drive_Date__c</name>
            <value>
                <elementReference>$Record.Test_Drive_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param_Car_Model__c</name>
            <value>
                <elementReference>$Record.Car_Model__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Predicted_Likelihood_of_Purchase_CM_12l_W0eee3e1781</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>-->
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Contact</name>
        <label>Check for Contact</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_from_Opportunity_Contact.ssot__Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Data Cloud Likelihood of purchase on opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud Likelihood of purchase on opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_from_Opportunity_Contact</name>
        <label>Get Records from Opportunity Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <!--<connector>
            <targetReference>Predict_Likelihood</targetReference>
        </connector>-->
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__OpportunityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__OpportunityContact__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_Opportunity_Contact.ssot__Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Likelihood_of_Purchas__c</field>
           <!-- <value>
                <elementReference>Predict_Likelihood.prediction</elementReference>
            </value>-->
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_from_Opportunity_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Probability__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>ssot__Opportunity__dlm</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>DataCloudDataChange</triggerType>
    </start>
    <status>Active</status>
</Flow>
