force-app/main/default/flows/Data_Cloud_Vehicle_Complaints.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetMessage</name>
        <label>SetMessage</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>getMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Data Cloud- Vehicle Complaints {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud- Vehicle Complaints</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vehicle_Complaints</name>
        <label>Get Vehicle Complaints</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>odinumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>odinumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>11074082</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Issues_Details_vehicle_23344__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle_Complaints</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Here is the NHTSA (National Highway Traffic Safety Administration) Report
Car Name: {!carName}
Complaints: {!Get_Vehicle_Complaints.dateComplaintFiled__c}
Components: {!Get_Vehicle_Complaints.components__c}
DOI: {!Get_Vehicle_Complaints.dateOfIncident__c}
Summary: {!Get_Vehicle_Complaints.summary__c}
Deaths: {!Get_Vehicle_Complaints.numberOfDeaths__c}
Fire: {!Get_Vehicle_Complaints.fire__c}
Crash: {!Get_Vehicle_Complaints.crash__c}
No. of Injuries: {!Get_Vehicle_Complaints.numberOfInjuries__c}
ODI No.:{!Get_Vehicle_Complaints.odinumber__c}</text>
    </textTemplates>
    <variables>
        <name>carName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>make_car</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>acura</stringValue>
        </value>
    </variables>
    <variables>
        <name>model_car</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rdx</stringValue>
        </value>
    </variables>
    <variables>
        <name>model_year</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2012</stringValue>
        </value>
    </variables>
</Flow>
