force-app/main/default/flows/Data_Cloud_Calculate_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CalcuateTime</name>
        <label>CalcuateTime</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>clsCalculateTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentLat</name>
            <value>
                <elementReference>Get_Telemetrics_Data.latitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentLong</name>
            <value>
                <elementReference>Get_Telemetrics_Data.longitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>homeLat</name>
            <value>
                <elementReference>Get_Contact.MailingLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>homeLong</name>
            <value>
                <elementReference>Get_Contact.MailingLongitude</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clsCalculateTime</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Map_Platform_Invoker</name>
        <label>Map Platform Invoker</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>clsMapController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CalcuateTime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentLat</name>
            <value>
                <elementReference>Get_Telemetrics_Data.latitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentLong</name>
            <value>
                <elementReference>Get_Telemetrics_Data.longitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>homeLat</name>
            <value>
                <elementReference>Get_Contact.MailingLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>homeLong</name>
            <value>
                <elementReference>Get_Contact.MailingLongitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputType</name>
            <value>
                <elementReference>InputType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clsMapController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetMessage</name>
        <label>SetMessage</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>getmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Data Cloud - Calculate Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - Calculate Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Contact_Participant</name>
        <label>Get Asset Contact Participant</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Platform_Invoker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Telemetrics_Data</name>
        <label>Get Telemetrics Data</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VIN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle.ssot__VehicleIdentificationNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Telemetric__dlm</object>
        <sortField>timestamp__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Telemetrics_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Contact_Participant.VehicleId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Vehicle__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Contact_Participant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Based on your Latitude and Longitude Time to Reach Home is {!CalcuateTime.travelDuration} and you will travel {!CalcuateTime.travelDistance} miles</text>
    </textTemplates>
    <variables>
        <name>APIKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>27c72edcfcf645bbad98c5140fd125f6</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatrixApiKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>pr1iepPdrz2eZk1jgZmBhtDCYpqT22laHFgNs8rMOmmthXJggzdHMjj84T1o7sLX</stringValue>
        </value>
    </variables>
</Flow>
