force-app/main/default/flows/Data_Cloud_Upsell_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_into_Collection</name>
        <label>Assign into Collection</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>prodcutRelatedMaterialsCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRelatedMaterials</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_ProductMaterials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ProdcutRelated</name>
        <label>Assign ProdcutRelated</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ProductRelatedMaterials.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_ProductMaterials.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRelatedMaterials.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_ProductMaterials.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_into_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Collections</name>
        <label>Return Collections</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ReturnProductRelatedMaterials</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prodcutRelatedMaterialsCollections</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnSurveyResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Survey_Details.returnActivtiesMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Data Cloud U {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud Upsell Opportunities</label>
    <loops>
        <name>Iterate_Over_ProductMaterials</name>
        <label>Iterate Over ProductMaterials</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_ProdcutRelatedMaterials</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ProdcutRelated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fetch_Survey_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ProdcutRelatedMaterials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssetContactParticipant.VehicleId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Asset__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetContactParticipant</name>
        <label>Get AssetContactParticipant</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 4 AND 5 AND 6 AND (2 OR 7)</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssetContactParticipant.ContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProdcutRelatedMaterials</name>
        <label>Get ProdcutRelatedMaterials</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_ProductMaterials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.ssot__ProductId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRelatedMaterial_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AssetContactParticipant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fetch_Survey_Details</name>
        <label>Fetch Survey Details</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Return_Collections</targetReference>
        </connector>
        <flowName>Data_Cloud_Survey_Response</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>InputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prodcutRelatedMaterialsCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRelatedMaterial</objectType>
    </variables>
    <variables>
        <name>ProductRelatedMaterials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRelatedMaterial</objectType>
    </variables>
    <variables>
        <name>ReturnProductRelatedMaterials</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRelatedMaterial</objectType>
    </variables>
    <variables>
        <name>ReturnSurveyResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
