force-app/main/default/flows/Data_Cloud_Vehicle_Complaints.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vehicle_Complaints</name>
        <label>Vehicle Complaints</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>VehicleComplaints</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>carName</name>
            <value>
                <elementReference>carName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VehicleComplaints</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetMessage</name>
        <label>SetMessage</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>getMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Data Cloud- Vehicle Complaints {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud- Vehicle Complaints</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vehicle_Complaints</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Here is the NHTSA (National Highway Traffic Safety Administration) Report
Vehicle Name: {!carName}
Date of Complaint: {!Vehicle_Complaints.dateComplaintFiled}
Components: {!Vehicle_Complaints.components}
DOI: {!Vehicle_Complaints.numberOfInjuries}
Summary: {!Vehicle_Complaints.summary}
Deaths: {!Vehicle_Complaints.numberOfDeaths}
Fire: {!Vehicle_Complaints.fire}
Crash: {!Vehicle_Complaints.crash}
No. of Injuries: {!Vehicle_Complaints.numberOfInjuries}
ODI No: {!Vehicle_Complaints.odi_number}</text>
    </textTemplates>
    <variables>
        <name>carName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>make_car</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>acura</stringValue>
        </value>
    </variables>
    <variables>
        <name>model_car</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rdx</stringValue>
        </value>
    </variables>
    <variables>
        <name>model_year</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2012</stringValue>
        </value>
    </variables>
</Flow>
