force-app/main/default/flows/Data_Cloud_Free_Service_Eligiblity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getWarrantyContract</name>
        <label>getWarrantyContract</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <actionName>clsWarrantyDocumentController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Free_Services</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Default_Value</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>VIN</name>
            <value>
                <elementReference>Get_Vehicle_Telemetric.VIN__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clsWarrantyDocumentController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Default_Value</name>
        <label>Add Default Value</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SetMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetDefaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Eligiblity</name>
        <label>Return Eligiblity</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SetMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnFreeServiceEligiblity</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Not_Eligible</name>
        <label>Return Not Eligible</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SetMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnNoEligible</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Warranty_Expired</name>
        <label>Return Warranty Expired</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SetMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnWarrantyExpired</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Warranty_Contract_Doc_Not_Present</name>
        <label>Warranty Contract Doc Not Present</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SetMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetDefaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Free_Services</name>
        <label>Check Free Services</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Warranty_Contract_Doc_Not_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_It_Eligible</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR ( 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>WarrantyContractStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyContractStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyContractEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyContractEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getWarrantyContract.WarrantyOffers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OdometerGreaterThan15K</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vehicle_Telemetric.odometer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Eligiblity</targetReference>
            </connector>
            <label>Is It Eligible</label>
        </rules>
        <rules>
            <name>Not_Eligible</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 ) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>WarrantyContractStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyContractStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyContractEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyContractEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OdometerGreaterThan15K</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vehicle_Telemetric.odometer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Not_Eligible</targetReference>
            </connector>
            <label>Not Eligible</label>
        </rules>
        <rules>
            <name>Warranty_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarrantyContractEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarrantyContractEndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Warranty_Expired</targetReference>
            </connector>
            <label>Warranty Expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OdometerGreaterThan15K</name>
        <dataType>Boolean</dataType>
        <expression>VALUE({!Get_Vehicle_Telemetric.odometer__c}) &lt; {!getWarrantyContract.NoOfMiles}</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>WarrantyContractEndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWarrantyContract.EndDate})</expression>
    </formulas>
    <formulas>
        <name>WarrantyContractStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!getWarrantyContract.startDate})</expression>
    </formulas>
    <interviewLabel>Data Cloud-Free Service Eligiblity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud-Free Service Eligiblity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Telemetric</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Asset__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Contact_Participant</name>
        <label>Get Asset Contact Participant</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Contact_Participant.VehicleId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Vehicle__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Telemetric</name>
        <label>Get Vehicle Telemetric</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWarrantyContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VIN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VIN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle.ssot__VehicleIdentificationNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Telemetric__dlm</object>
        <sortField>timestamp__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Contact_Participant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReturnFreeServiceEligiblity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Yes. Based on your warranty period and latest odometer reading i.e {!Get_Vehicle_Telemetric.odometer__c}, you are eligible for 
{!getWarrantyContract.WarrantyOffers}</text>
    </textTemplates>
    <textTemplates>
        <name>ReturnNoEligible</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Based on your latest odometer reading, you have crossed  more than 15000 miles, due to this you are not in eligible for free service.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReturnWarrantyExpired</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your warranty has expired so you are not eligible for free service.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SetDefaultMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;At this time, Amazon S3 does not contain any Warranty Contract Document for the specified VIN {!Get_Vehicle.ssot__VehicleIdentificationNumber__c}  which prevents the retrieval of Warranty Contract Details.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SetOdometerExcedded</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your Latest Odometer Reading {!Get_Vehicle_Telemetric.odometer__c} is Excedded the WarrantyContract {!getWarrantyContract.NoOfMiles}&lt;/p&gt;&lt;p&gt;We Regret, You are not eligible for Free service&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OdometerLimitExceeded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SetMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
