force-app/main/default/flows/Data_Cloud_Vehicle_Delay_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MaintenanceStatusUpdate</name>
        <label>MaintenanceStatusUpdate</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>SFMCCallOutService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Return_Delay_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Get_Asset_Contact_Participant.ContactId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Delay</name>
            <value>
                <elementReference>Delay</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFMCCallOutService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Return_Delay_Response</name>
        <label>Return Delay Response</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SentNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenanceStatusUpdate.setMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_No_Delay_Response</name>
        <label>Return No Delay  Response</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SentNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoDelayNotification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Verify_Delays</name>
        <label>Verify Delays</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Delay_Greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delay</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaintenanceStatusUpdate</targetReference>
            </connector>
            <label>Is Delay Greater than zero</label>
        </rules>
        <rules>
            <name>Is_Delay_zero</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Delay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appoinment.ssot__Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_No_Delay_Response</targetReference>
            </connector>
            <label>Is Delay zero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Delay</name>
        <dataType>Number</dataType>
        <expression>(DATETIMEVALUE( {!Get_Service_Appoinment.ssot__ActualEndDateTime__c}) - DATETIMEVALUE({!Get_Service_Appoinment.ssot__DueDateTime__c})) * 24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Data Cloud Vehicle Delay Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud Vehicle Delay Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appoinment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Vehicle.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Asset__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Contact_Participant</name>
        <label>Get Asset Contact Participant</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Vehicle</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 4 AND 5 AND 6 AND (2 OR 7)</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StakeholderRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Driver</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContactParticipant_Home__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Vehicle</name>
        <label>Get Primary Vehicle</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Contact_Participant.VehicleId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Vehicle__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appoinment</name>
        <label>Get Service Appoinment</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Delays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__ParentRecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.ssot__Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__ParentRecordId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__ServiceAppointmentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>ssot__ServiceAppointmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>ssot__ServiceAppointmentType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__ServiceAppointmentStatus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__ServiceAppointment__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Contact_Participant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NoDelayNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We are pleased to inform you that vehicle maintenance service performed promptly with no delays.</text>
    </textTemplates>
    <variables>
        <name>InputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SentNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
