force-app/main/default/flows/TelemetryTRiggeredMarketingCloudFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_to_Send_Email_on_Low_Battery</name>
        <label>Call Apex to Send Email on Low Battery</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <actionName>SFMCCallOutService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EventId</name>
            <value>
                <elementReference>$Record.eventname__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFMCCallOutService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Call_Journey_API</name>
        <label>Call Journey API</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>SFMCCallOutService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EventId</name>
            <value>
                <elementReference>$Record.eventname__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFMCCallOutService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>JourneyAPI_Maintenance</name>
        <label>JourneyAPI Maintenance</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <actionName>SFMCCallOutService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EventId</name>
            <value>
                <elementReference>$Record.eventname__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFMCCallOutService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>JourneyAPI_Recall</name>
        <label>JourneyAPI Recall</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>SFMCCallOutService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EventId</name>
            <value>
                <elementReference>$Record.eventname__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFMCCallOutService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckScenarios</name>
        <label>CheckScenarios</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ABS_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.airbag_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Journey_API</targetReference>
            </connector>
            <label>SOS</label>
        </rules>
        <rules>
            <name>Recall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.airbag_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JourneyAPI_Recall</targetReference>
            </connector>
            <label>Recall</label>
        </rules>
        <rules>
            <name>Odometre_Greater_than_6000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Odometre_Number__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JourneyAPI_Maintenance</targetReference>
            </connector>
            <label>OdometreDiff Greater than 6000</label>
        </rules>
        <rules>
            <name>Low_Battery_Indicator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BatterySOCLevel_Number__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Apex_to_Send_Email_on_Low_Battery</targetReference>
            </connector>
            <label>Low Battery Indicator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>battery_soc_level</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.battery_soc_level__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OdometreDiff</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.odometer__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Warrantydate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>TelemetryTRiggeredMarketingCloudFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TelemetryTRiggeredMarketingCloudFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckScenarios</targetReference>
        </connector>
        <object>Vehicle_Telemetric__dlm</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>DataCloudDataChange</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
